# Puzzle Inputs
challengeInput.dat
challengeInput.txt
parsedInput.txt
parsedInput*.txt
parsedInput.dat
parsedInput*.dat
part1_withInputs/
part2_withInputs/
entradaDelDesafío.txt
entradaDelDesafío.dat
مدخلات_كبيرة.dat
masukanTeka-tekinya.dat
tournament.dat
c.dat
i.dat
